/* 버튼 기본 꾸미기 */
.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
/* 프라이머리 컬러 */
.storybook-button--primary {
  color: white;
  background-color: #1ea7fd;
}
/* 세컨더리 컬러 */
.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
/* 사이즈 s */
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
/* 사이즈 m */
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
/* 사이즈 l */
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
